/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Header-top */



.nav{
    display: flex;
    align-items: center;
}
.container{

}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.nav-logo{
  margin-right: 2rem;
}
.menu{
 display: flex;
    margin: 0;
    padding: 0;
}
.menu-item{
    list-style-type: none;
    padding: 0 1rem;
}
.menu-link{
    text-decoration: none;
    color: #081D43;
}
.top-link{
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: #0050C8;
    color: #fff;
    border-radius: 0.3rem;
}


/* Header-bottom */

.header-bottom{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.head-content-wrapper{
    max-width: 28rem;
}
.section-content__left{
    flex-basis: 50%;
    display: flex;
}
.section-content__Right{
    flex-basis: 50%;
}
.section-head-title{
    color: #081D43;
    font-family: 'TTNorms Medium';
    font-weight: normal;
}
.section-head-text{
    color: #6C7890;
    line-height: 1.8rem;
}
.section-head-links{ 
    display: flex;
}
.section-head-link{
    width: 10rem;
    text-align: center;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: #0050C8;
    color: #fff;
    border-radius: 0.3rem;
    display: block;
    margin-right: 0.8rem;
}
.section-head-link:nth-child(1){
    background-color: #87BC25;
}
.heead-content-img{
    width: 100%;
}
/* Strat Main */

.main{
    margin-top: 5rem;
}
.Work{
    text-align: center;
}
.work-text{
    color: #6C7890;
    margin-bottom: 0;
}
.work-title{
    color: #081D43;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.work-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.main-content__title{
    color: #081D43;
}
.main-content__text{
    max-width: 16rem;
    color: #6C7890;
}
.work-main-img{
    width: 30rem;
    margin: 0 auto;
}
.work-main-img__img{
    width: 100%;
    padding-bottom: 5rem;
}

/* Start Comment */


.person-comment{
    background-color: #2F5BEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment__title{
    color: #fff;
    font-family: 'TTNorms Medium';
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}
.comment__text{
    color: #fff;
    font-weight: normal;
    font-family: 'TTNorms Light';
    font-weight: noraml;
    max-width: 29rem;
    text-align: center;
    margin-top: 0;
}
.comments{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.comment{
    display: flex;
    flex-direction: column;
    min-height: 16rem;
    justify-content: space-between;
    background-color: #fff;
    flex-basis: 20rem;
    border-radius: 0.3rem;
    padding: 0;
    margin-right: 3rem;
}
.comment__body{
    color: #7E8085;
    font-family: 'Times New Roman italic';
    font-style: italic;
    padding: 0.7rem ;  
}
.comment__info{
    border-top: 1px solid #E8EBEF;
    display: flex;
    align-items: center;

}
.comment-info__img{
    padding-left: 1rem;
    padding-right: 1rem;
}   
.comment__logo{
    width: 70rem;
    padding-top: 8rem;
    display: flex;
    justify-content: space-around;
    margin-right: 2rem; 
    padding-bottom: 3.5rem;
}

/* PORTFOLIO Start */


.portfolio__section{
    text-align: center;
    margin-top: 5rem;
}
.portfolio__text{
    color: #6C7890;
    font-family: 'TTNorms Light';
    font-weight: normal;
    font-size: 0.8rem;
}
.portfolio__title{
    color: #081D43;
    font-family: 'TTNorms Light';
    font-weight: 600;
    margin-top: 0;
    padding-bottom: 3rem;
}
.portfolio__image{
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-img___wrapper{
    flex-basis: 23rem;
}
.portfolio__img{
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.9rem;
}

/* Start Footer */
.footer__top{
    background-color: #2F5BEA;
    color: #fff;
    padding: 10em 0;
}
.footer-top__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top__text{
    font-size: 1.2rem;
    font-weight: normal;
}
.footer-top__email{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    flex-basis: 25rem;
    padding: 0.4rem ;
}
.footer-top__txt{
    outline: none;
    border: none;
    padding-left: 1rem;
}
.footer-top__btn{
    background-color: #2F5BEA;
    border: none;
    outline: none;
    padding: 0.8rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}
.footer__copyright{
    padding: 1rem 0;
}   
.footer-copyright-text__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright__text{
    color: #6C7890;
} 

/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
